<h1> K-Lab homepage </h1>

<!-- <a class='btn btn-primary btn-raised' href='/togu'> Togu </a>
<a class='btn btn-primary btn-raised' href='/togu/subjects'> Togu subjects </a> -->

<a class='btn btn-primary btn-raised' href='/ex2'> Experiment 2 </a>
<a class='btn btn-primary btn-raised' href='/sg'> Sampling Game</a>


