<div  style='background-color:violet; padding:20px'>
  <h1> Between Games </h1>

  <p>
  The game you just played is now over. You will now play the next game. 
  </p>

  <p>
  Notice that although it appears the same, the payoff structure can be different.
  </p>

  <a class='btn btn-raised btn-primary' href='/togu/game'> Start Game <%=session[:order]+1%> </a>
</div>