<div  style='background-color:red'>
  <h1> Between Games </h1>

  <p>
  The game you just played is now over. You will now play the

  next game. Notice that although it appears the same, the payoff structure can be

  different.
  </p>
</div>