<div>
<h1> Between rounds. </h1>

<p>You just finished a round. In the next screen you will play this game again.
</p>
<p>
The payoff structure is the same, keys have been reset and rearranged (i.e., assigned to different locations at random).</p>
<br/>
<div style='text-align: center'>
  <a href='/togu/game' class='btn btn-raised btn-primary'> Start Next Round </a>
</div>
</div>