<div>
<h1> Between rounds. </h1>

You just finished a round. In the next screen you will play this game again. The

payoff structure is the same, but all keys were restarted and rearranged within each

matrix.
<br/>
<a href='/togu/game' class='btn btn-raised btn-primary'> Start Next Round </a>
</div>