<div  style='background-color:violet; padding:20px'>
  <h1> Between Games </h1>

  <p>
  This game now over (i.e., you have encountered all rounds and trials associated with it). You will now play the next game. 
  </p>

  <p>
  Notice that although it appears the same (two sets of multiple keys), the payoff structure can be different.
  </p>

  <a class='btn btn-raised btn-primary' href='/togu/game'> Start Game <%=sesh[:order]+1%> </a>
</div>
