<h1> Consent </h1>

<p>
Participation in this study is limited to individuals age 18 and older, currently residing in the Australia, Canada, United Kingdom, United States, or New Zealand, with basic computer proficiency, and the ability to read and understand English.
</p>

<p>
Compensation & Costs:
You will receive $1.50 as well as bonuses equal to your in-task earnings. You will only be eligible for compensation if you have completed the tasks in full. There is no partial payment if you do not complete the study. You will not be penalized if you choose to withdraw from the study without completing it, but you will not be compensated either.

</p>

<p>
Voluntary Participation:
Your participation in this research is voluntary.  You may discontinue participation at any time.
 
</p>

<p>
If you agree that you are 18 or older, have read and understood the information provided, and would like to take part in this study press I CONSENT or click QUIT to exit.
</p>
<a class='btn btn-raised btn-primary' href='/togu/info'> I CONSENT </a>
<a class='btn btn-raised btn-danger' href='/togu/logout'> I QUIT </a>