

<h1> Dear Participant,</h1>
 
<p> Thank you for agreeing to participate in our experiment on decision making.
You will be asked to play clicking games with many rounds in each.</p>
 
<p>Your responses are confidential and we will not ask for your name or other identifying information. Whatever information you convey here cannot be traced back to you.</p>
 
<p>The experiment should take about 15 minutes. The compensation for completing it is $1.5 plus bonuses equal to your in-task earnings. Following Prolific’s payment procedure, your earnings in dollars will be converted to pounds according to exchange rate at the day of your participation. You will only be eligible for compensation if you have completed the tasks in full. There is no partial payment if you do not complete the study. You will not be penalized if you choose to withdraw from the study without completing it, but you will not be compensated either.</p>
 
<p>Taking part in this study is completely voluntary. If you decide to take part, you are free to withdraw at any time.</p>

<p>If you have questions, please contact: kinnerett@technion.ac.il
We appreciate your cooperation!</p>
 
<p>By choosing to participate, you are confirming that you are 18 years of age or older, that you have read and understood the information provided above and that you choose to participate in this study. If you choose to participate, please click on the I ACCEPT at the bottom of the screen to begin the study.</p>

<a class='btn btn-raised btn-primary' href='/togu/info'> I ACCEPT </a>
<!-- <a class='btn btn-raised btn-danger' href='/togu/logout'> I QUIT </a> -->