<h1> Game instructions </h1>

<p>
In the next screen you will see two matrices of unmarked keys. In each trial you will be asked to press on one key and your payoff for the current trial will be written on the key you selected. The payoffs will be reset every <%= T %> trials and a new round will begin (you will be informed when a new round begins and that the payoffs were reset). You will play the game for a total of <%= R %> rounds, where every round includes <%= T%> trials. There are <%= G%> games like this, each game has a unique payoff structure, and you will be informed when the current game is finished and a new game is about to begin. Remember – your task is to obtain the higher payoffs in every round.
</p>

<a href='/togu/game' class='btn btn-raised btn-primary'> Start First Game </a>