<h1> Game </h1>

<%= erb :'togu/matrix' %>

<script>
$('.cell').click(function(){
  var cells  = $('.cell');
  var target = $(event.target);
  var key    = target.data('key');
  var type   = target.data('type');
  $.get('/togu/click_cell?key='+key+'&type='+type)
   .success(function(res){
      target.html(`<b style="color:black">${res.val}</b>`);
      cells.attr('disabled',true);
      setTimeout(()=>{
        target.html('');
        cells.attr('disabled',false);
      },1000)
   })
})

</script>