<h1> General Instructions </h1>

<p> Welcome abroad! This study consists of two parts: The main part

includes a series of games; each will be played for many rounds. The second part

includes a few short questionnaires, after which you will be shown the last screen with

your final payment. The final payment in this experiment depends on your performance

in the games. After finishing playing the games, one game will be randomly chosen and

the payoffs you obtained in a randomly selected round of this game will be added to or

subtracted from a show-up fee of CoinSign ShowUp, where every ExchangeRatio points

earned equals 1 CoinSign. Accordingly, you should try to maximize your payoffs in every

round in every game you play. </p>

<a class='btn btn-primary btn-raised' href='/togu/game_instructions'> Game Instructions </a>