<style>
.cell {
  height:100px;
  width:100px;
  border:1px solid black;
  /*margin:2px;*/
}
.giveup {
  background-color: blue;
}
.try {
  background-color: grey;
}
</style>

<% ['giveup','try'].each do |type| %>
  <div class='col-md-5 matrix'>
    <% (0..11).to_a.each do |i| %>
      <div class='col-md-4'>
        <button class='btn btn-info btn-wide cell <%=type%>' data-key="<%=i%>" data-type=<%=type%>></button>
        <br/>
      </div>    
    <% end %>
  </div>
<% end %>