<style>
.cell {
  height:100px;
  width:100px;
  border:1px solid black;
  /*margin:2px;*/
}
.cell[disabled] {
    cursor:none;
}
.giveup {
  background-color: blue;
}
.try {
  background-color: grey;
}
</style>

<%
  keys_order = ['giveup','try'] 
  keys_order = keys_order.reverse if session[:should_flip_order] 
%>

<% keys_order.each_with_index do |type,idx| %>
  <div class='col-md-4 matrix'>
    <% (1..NUM_CELLS).to_a.each do |i| %>
      <div class='col-md-4'>
        <button class='btn btn-info btn-wide cell <%=type%>' data-key="<%= type == 'giveup' ? i : 100+i %>" data-type=<%=type%>></button>
        <br/>
      </div>    
    <% end %>
  </div>
  <% if idx==0 %>
  <div class='col-md-4'>
  </div>
  <% end %>
<% end %>