<script>
  function verifyForm(form) {
    if (!$(form).serializeObject().education) {
      alert('Please choose your education level')
      return false
    }
  }
</script>
<h1> Please enter your details </h1>

<form action='/togu/start' method=post onsubmit="return verifyForm(this)">

    <input name='subject_number' type='hidden' value="<%=$togu.count+1%>" /s>

    <label> Please enter your Prolific ID. If you do not enter your ID correctly we will not be able to identify that you did the study and you will not be paid. <input required name='prolific_id' /></label>


    <br/>
    <label> Sex: </label><br/>
      <input required type="radio" name="sex" value="m"> Male<br>
      <input required type="radio" name="sex" value="f"> Female<br>

      <br/>
    <label> 
      Age:
      <input required type=number name=age />
    </label>
      

    <br>
    <label>Education Level
    <select required name=education value=''>
      <option selected disabled>Choose one</option>
      <option value="less_than_highschool">Less than High School</option>
      <option value="highschool_equivalent">High School or Equivalent (e.g., GED)</option>
      <option value="some_college">Some College</option>
      <option value="2year_college">2-year College Degree</option>
      <option value="4year_college">4-year College Degree</option>
      <option value="masters_degree">Masters Degree</option>
      <option value="doctoral_degree">Doctoral Degree</option>
      <option value="professional_degree">Professional Degree (JD MD)</option>
      <option value="other">Other</option>
    </select>
    </label>

    <br>
    <label>What is your average monthly income? <input name=income required /> </label>
    
    <label>
      <select name=income_type>
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="CAD">CAD</option>
        <option value="AUD">AUD</option>
        <option value="NZD">NZD</option>
      </select>
    </label>
<br>
    <label>Nationality 
      <select name=location>
        <option value="USA">USA</option>
        <option value="UK">UK</option>
        <option value="other">Other</option>
        
      </select>
    </label>
    
<br>
  <button class='btn btn-primary btn-raised'> Submit </button>
</form>

