<h1> Try-Or-Give-Up Game: Please enter your details </h1>

<form action='/togu/start' method=post>
<label> Subject Number: <br><input name='subject_number' type=number value=123 /></label>

<br/>
<label> Sex: </label><br/>
  <input type="radio" name="sex" value="m" checked=""> Male<br>
  <input type="radio" name="sex" value="f"> Female<br>

  <br/>
<label> 
  Age:<br>
  <input type=number name=age required value=30 />
</label>
  <button class='btn btn-primary btn-raised'> Submit </button>
</form>