
<div class='ct'>
<h1 class='ct'> Sampling Game Instructions </h1>
</div>

<div class='heb'>

<p>
ברוכים הבאים למשחק הכפתורים רב המשתתפים, 
</p>
<p>
במשחק זה הולכים להיות <%= get_setting(:sampling_game_nrounds).to_i %> סבבים. בכל סבב, מתוך ארבעה כפתורים מטרתכם היא לבחור את הכפתור שלדעתכם תרוויחו ממנו את הסכום הכספי הגבוה ביותר. לפני שתבחרו בכפתור, תוכלו ללחוץ על הכפתורים ולראות את הסכומים השונים שהם מניבים. שלב זה מכונה שלב הדגימה (sample). כאשר אתם מרגישים שהחלטתם איזה כפתור אתם מעדיפים תעברו לשלב הבחירה בפועל (choose). לאחר שכל המשתתפים בחרו בכפתור תוצג תוחלת הכפתור שבחרתם, המהווה עבורכם את תוצאת הסיבוב.
</p>
<p>
אבל שימו לב, עוד שני שחקנים מתחרים איתכם על הכפתורים. בחירה של שחקן אחר בכפתור, תמנע משאר השחקנים את הבחירה בו. כלומר, אם משתתף אחר בחר בכפתור מסויים לפני שהגעתם לשלב הבחירה – לא יוכלו לבחור בכפתור זה. בנוסף, לא בכל הסבבים כל הכפתורים יהיו זמינים לכם. בחלק מהסבבים רק 2 כפתורים (מתוך ה-4) יהיו זמינים לכם ובחלק מהסבבים כל ארבעת הכפתורים יהיו זמינים.  
התגמול על ההשתתפות במחקר יהיה סכום התוצאה שקיבלתם בשני סבבים שיבחרו רנדומלית בסוף המשחק ויוכפלו ביחס המרה של 0.6.
</p>

<p>
לפני שהמשחק יתחיל תתנסו בשלושה סבבי ניסיון שאינם משוחקים על כסף אמיתי. 
לחץ המשך להתחלת סבבי הניסיון.
</p>

</div>
<br/>
<div class='ct'>
<a class='ct btn btn-raised btn-primary' href='/sg/game'> Continue </a>
</div>

