
<div class='ct'>
<h1 class='ct'> Sampling Game Instructions </h1>
</div>

<div class='heb'>

<p><b>משחק הכפתורים רב המשתתפים</b></p>

<p>ברוכים הבאים,</p>
<p>אתם עומדים להשתתף במשחק כפתורים, התשלום הבסיסי עבור ההשתתפות במשחק הוא 15 שקלים, בנוסף תרוויח/י בין 10-25 שקלים בהתאם לביצועייך, כפי שיוסבר בחוקי המשחק. כך שהתגמול הסופי יהיה בין 25-40 ש"ח. </p>

<p><b>חוקי המשחק:</b></p>

<p>משחק זה כולל <%= get_setting(:sampling_game_nrounds).to_i %>  סבבים. בכל סבב יוצגו על המסך 4 כפתורים ועליך יהיה לבדוק את הכפתורים ולבסוף להחליט איזה כפתור ייתן לך את הרווח הגבוה ביותר. מאחורי כל כפתור יש התפלגות של מספרים (כל מספר יכול להתקבל בהסתברות מסוימת). לא תקבל/י מידע מראש על ההתפלגויות אבל תוכל/י לדגום ערכים מכל התפלגות על ידי לחיצה על הכפתורים (לחיצה על כל כפתור תראה לך ערך אחד שנדגם רנדומלית מתוך ההתפלגות שמאחורי כפתור זה). שלב זה מכונה שלב הדגימה (sample). כאשר לדעתך השגת מספיק מידע על הכפתורים, תוכל/י לעבור לשלב הבחירה (choose), ולסמן מהו הכפתור אותו בחרת. בחירה בכפתור שזמין לך תיתן לך את התוחלת של ההתפלגות העומדת מאחורי הכפתור. </p>
<p>אבל שימו לב, עוד שני שחקנים מתחרים איתכם על הכפתורים. בחירה של שחקן אחר בכפתור, תמנע משאר השחקנים את הבחירה בו. כלומר, אם משתתף אחר בחר בכפתור מסויים לפני שהגעתם לשלב הבחירה – לא יוכלו לבחור בכפתור זה. בנוסף, לא בכל הסבבים כל הכפתורים יהיו זמינים לכם. בחלק מהסבבים רק 2 כפתורים (מתוך ה-4) יהיו זמינים לכם ובחלק מהסבבים כל ארבעת הכפתורים יהיו זמינים. </p>

<p>
התגמול על ההשתתפות במחקר יהיה סכום התוצאה שקיבלתם בשני סבבים שיבחרו רנדומלית בסוף המשחק ביחס המרה של <%= SG_EXCHANGE_RATE %> (<%= (1/SG_EXCHANGE_RATE).round(2) %> נקודות= שקל). לפני שהמשחק יתחיל תתנסו בשלושה סבבי ניסיון שאינם משוחקים על כסף אמיתי.</p>

<p> לחץ המשך להתחלת סבבי הניסיון.</p>



</div>
<br/>
<div class='ct'>
<a class='ct btn btn-raised btn-primary' href='/sg/game'> Continue </a>
</div>

