<style>
label {
  width:90px;
}
</style>
<h1> Sampling Game Intro </h1>

Welcome to the sampling game, please input game ID and user ID.
<form action='/sg/instructions'>
<!-- <form action='/sg/instructions'> -->
  <label> Game ID </label>
  <input name=game_id placeholder='Game ID' zvalue=1 autofocus>
  <br/>
  <label> User ID </label>
  <input name=user_id placeholder='User ID' value=<%=rand(10000)%>>
  <br/>
  <label> Gender </label>
    <input type="radio" id="contactChoice1"
     name="gender" value="M" checked>
    <label for="contactChoice1">Male</label>

    <input type="radio" id="contactChoice2"
     name="gender" value="F">
    <label for="contactChoice2">Female</label>

  <br/>
  <label> Age </label>
  <input name=age placeholder='Age' value=30>
  <br/>
  <button class='btn btn-raised btn-primary'>Submit</button>
</form>