<h1> Sampling Game Intro </h1>

Welcome to the sampling game, please input game ID and user ID.
<form action='/sg/game'>
  <input name=game_id placeholder='Game ID' zvalue=1 autofocus>
  <br/>
  <input name=user_id placeholder='User ID'>
  <button>Submit</button>
</form>