<%
  moves = $sg_moves.all(game_id: pr[:id])
%>
<h1> Sampling Game results: game <%= pr[:id] %></h1>

<div style='overflow-x: scroll; border:1px solid black'>
  <table class='table table-striped' id='moves'>
    <thead>
      <% fields = [:game_id, :user_id, :age, :gender, :turn, :round, :mode, :round_time, :e, :ev_type, :excel_row_num, :ev_l, :ev_lm, :ev_rm, :ev_r, :n_choice, :o1, :o2, :o3, :o4, :oc, :ou] %>
      <% fields.each do |k| %>
        <th>
          <% val = k %>
          <% val = :strong if val == :n_choice %>
          <%= val %>            
          </th>  
      <% end %>
    </thead>
    <tbody>
        <% moves.each do |move| %>
            <tr>
              <% fields.each do |mf| %>
              <%# next if mf.to_s == "0" %>
              <td> <%=move[mf.to_s]%> </td>
              <% end %>
            </tr>
        <% end %>
    </tbody>
    </table>    
</div>

<a class='btn btn-raised btn-primary' href='/sg_admin'> Back to SG Admin </a>
<button class='btn btn-raised btn-primary' onclick=tableToExcel('moves','data','moves_<%=pr[:id]%>.xls')> Download </button> 