<h1> Sampling Games Results </h1>

<% game_ids = $sg_moves.distinct(:game_id) %>
<% game_ids.each do |game| %>

<div> <a class='btn btn-raised btn-primary' href='/sg/results/<%=game%>'> <%= game %> (<%= $sg_moves.count(game_id: game) %> moves) </a> </div>

<% end %>