<%
  sesh[:user_id] = pr[:user_id]
  sesh[:game_id] = pr[:game_id]
%>

<style>
.box {
  height: 200px;
  width: 200px;
  background-color: grey;
  /*margin:20px;*/
  border:1px solid black;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
}
.box.disabled {
  background-color: darkgreen;
}
.sample_or_choose {
  background-color: lightblue;
  display: inline-block;
  width: 200px;
  cursor: not-allowed;
  font-weight: bold;
}
.sample_or_choose.disabled {
  font-weight: normal;
  cursor: pointer;
  background-color: darkgrey;
}
.not_your_turn {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  font-weight: bold;
  background-color: lightgrey;
  z-index: 999;
}
</style>

<h1> Sampling </h1>

<div class='status'>
</div>
<section>

  <div class='curTurnHolder'>Current Turn: <div class='curTurn'></div></div>
  <div class='sample_or_choose sample' onclick=sampleOrChooseState("sample")>
  Sample
  </div>
  <div class='sample_or_choose choose disabled' onclick=sampleOrChooseState("choose")>
  Choose
  </div>
</section>

<section>
<div class='box 1' onclick=onBoxClick(1)>  </div>
<div class='box 2' onclick=onBoxClick(2)>  </div>
<div class='box 3' onclick=onBoxClick(3)>  </div>
<div class='box 4' onclick=onBoxClick(4)>  </div>
</section>
<script>
log = console.log
user_id = "<%= sesh[:user_id] %>"

function updateTurn(user_id) {
  $('.curTurn').html(user_id)
  if (user_id == window.user_id) {$('.not_your_turn').hide(); } else { $('.not_your_turn').show(); }
}

function refreshData() { 
  $.get('/sg/state?game_id=<%=sesh[:game_id]%>').success(r=>{
    var data = r;

    //on new round
    //if (window.d && (data.round > window.d.round)) { $('.box').removeClass('disabled') }
      
    var curTurn = (data.user_ids[data.turn])
    updateTurn(curTurn)

    data.user_id = window.user_id;

    if (data.chosen_buttons.length == 0) { $('.box').removeClass('disabled') }
    data.chosen_buttons.forEach(boxID=>{
      $('.box.'+boxID).addClass('disabled');
    })

    window.d = data;
    $('.status').html(JSON.stringify(data))
  })
}

function onBoxClick(a) {
  console.log(a)
  var id = a;
  $.get('/sg/move?game_id=<%=sesh[:game_id]%>&box='+id+'&phase='+window.phase).success(r=> {
    $('.box.'+id).html(r.val);
    setTimeout(()=> {
      $('.box').html('')
    },1000);
  })
}

function sampleOrChooseState(state) {
  window.phase = state;
  $('.sample_or_choose').addClass('disabled')
  $('.sample_or_choose.'+state).removeClass('disabled')
}
//$('.sample_or_choose').click()

//$('.box').addClass('disabled')
//$('.box').click(onBoxClick)


setInterval(refreshData,window.time || 1 * 1000)
refreshData()
</script>