<h1> Ex2 </h1>

Hello, these are the instructions.

<p></p>
<form action='/ex2/start'>
  <label> Please enter your subject number. </label>
  <div></div>
  <input name='subject_number' value=1 autofocus="" />
  <button class='btn btn-raised btn-primary'> Submit </button>
</form>