<h1> These are the instructions for part 2. </h1>

<pre>
You finished <%=T%> trials.

In the next screens you will continue to play the same game
for another <%=E%> trials.

But now, before each trial, you will be asked to estimate the
chances to get (in the next trial) one of the outcomes from
one of the keys.

Note: There is a bonus payment for good estimates!

At the end of the game, one of your estimates will be randomly selected, 
and you will earn a monetary bonus based on the accuracy of this estimate. 
A better estimate will give you a higher bonus. 
This bonus will be added to the fixed fee you receive for participating. 
In addition, you will get a further bonus based on the payoff of
one randomly selected choice from all <%=T+E%> trials at the end of the game.

Thus, you should try to maximize your payoffs on every trial
as before, but also try to give the most accurate estimates
you can.
</pre>

<a class='btn btn-raised btn-primary' href='/ex2/part2'>Continue</a>